<%- contentFor('style') %>

<%- contentFor('content') %>
<%- include('module_martInfo.ejs') %>

<div class="tr-profile section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="tr-sidebar">
                    <%-include('module_martPageLeft.ejs') %>
                </div>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in show active account-info" id="account-info">	
                        <div class="section resume-last-updated">
                            <span class="icon pull-left"><img src="/assets/images/icons/1.png" alt="Icon" class="img-fluid"></span>
                            <div class="updated-info">
                                <span class="pull-left">마지막 업데이트</span>
                                <span class="pull-right"><%= moment(userInfo.MODIFIED).format('YYYY.MM.DD hh:mm:ss')%></span>
                            </div>
                        </div><!-- /.resume-last-updated -->

                        <div class="section display-information">
                            <div class="title title-after">
                                <img src="/assets/images/icons/2.png" alt="Icon" class="img-fluid">
                                <span>내 로그인 정보</span>
                            </div>

                            
                                <div class="form-group row item">
                                    <label for="HRONAME" class="col-sm-2 col-form-label title">아이디</label>
                                    <div class="col-sm-4 data"><input type="text" class="form-control" id="LOGINID" name="LOGINID" readonly value="<%=userInfo.LOGINID %>"></div>
                                </div>
                                <div class="form-group row item">
                                    <label for="HROCONTACT" class="col-sm-2 col-form-label title">암호</label>
                                    <div class="col-sm-4 data"><input type="password" class="form-control" id="PWD" name="PWD"></div>
                                </div>
                                <div class="form-group row item">
                                    <label for="HROEMAIL" class="col-sm-2 col-form-label title">암호 확인</label>
                                    <div class="col-sm-4 data"><input type="password" class="form-control" id="PWD_Confirm" name="PWD_Confirm"></div>
                                </div>                           
                    
                                <button type="button" class="btn btn-outline-danger btn-lg btn-block" id="changePassword">암호 변경</button>
                        </div><!-- /.display-information -->
                    </div><!-- /.tab-pane -->
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.tr-profile -->	

<%- contentFor('script') %>
<script>
    $(document).ready(function() {
        $("#changePassword").click(changePassword);
    });

    let changePassword = function() {
        if ($("#PWD").val() == "") {
            alert("암호 입력은 필수입니다."); //아이디 빈칸 포함 안됨 }
            $("#PWD").focus();
            return;
        }
        if ($("#PWD").val().length > 10 || $("#PWD").val().length < 4) {
            alert("암호는 4~10 글자로 맞추어주세요.  ");
            return;
        }
        if ($("#PWD").val().search(/\s/) != -1) {
            alert("암호는 공백이 들어갈 수 없습니다.");
            return;
        }
        if ($("#PWD").val() != $("#PWD_Confirm").val()) {
            alert("암호와 확인용 암호가 다릅니다.");
            return;
        }

        doPostCallSync(`/users/updatePassword`, {
            password: $("#PWD").val(),
        })
        .success(function(json){
            if (json.result == "success") 
                alert("암호가 변경되었습니다.");
            else
                alert("암호를 변경하는 도중에 오류가 발생했습니다.");
        })
        .fail(function(sender, message, details){
            alert("암호를 변경하는 도중에 오류가 발생했습니다.");
        });

    }
</script>
