<%- contentFor('style') %>

<%- contentFor('content') %>
<div class="tr-breadcrumb bg-image section-before">
    <div class="container">
        <div class="breadcrumb-info text-center">
            <div class="page-title">
                <h1>로그인</h1>
                <span>로그인하세요..</span>
            </div>				
        </div>
    </div><!-- /.container -->
</div><!-- tr-breadcrumb -->	

<div class="tr-account section-padding">
    <div class="container text-center">
        <div class="user-account">
            <div class="account-content">
                <form action="/auth/loginProcess" class="tr-form" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="아이디" name="userId" id="userId">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="비밀번호" name="password" id="password">
                    </div>

                    <input type="hidden" id="refer" name="refer" value="">
                    <button type="submit" class="btn btn-primary">로그인</button>
                </form>	
                <div class="new-user text-center">
                    <span><a href="/users/signup">회원가입</a> </span>
                </div>
            </div>
        </div>			
    </div><!-- container -->
</div><!-- /.tr-account-->	

<%- contentFor('script') %>
<script type="text/javascript">
    let loginResultCode = '<%=resultCode %>';
    let refer = '<%=refer %>';

    $(document).ready(function(){
        loginViewMessage()

        if (refer === '') refer = document.referrer;
        $("#refer").val(refer);

        $("#userId").keypress(function(e) { if (e.keyCode == 13) { $("#password").focus(); return false;}})
    });
    
    function loginViewMessage(){
        switch (loginResultCode) {
            case '1':
            alert("로그인 정보가 올바르지 않습니다.");
            break;
            case '2':
            alert("로그인이 처리되지 않았습니다. 잠시 후에 다시 시도해 주십시오.");
            break;
            case '3':
            alert("이 사용자는 접근 권한이 없습니다.");
            break;
        }
    }


        // 로그인 정보 저장 일단 킾
    //     let userInputId = getCookie("userInputId");//저장된 쿠기값 가져오기
    //     $("input[name='userid']").val(userInputId); 
        
    //     if($("input[name='userid']").val() != ""){ // 그 전에 ID를 저장해서 처음 페이지 로딩
    //         $("#logged").attr("checked", true); // ID 저장하기를 체크 상태로 두기.
    //     }
        
    //     $("#logged").change(function(){ // 체크박스에 변화가 발생시
    //         if($("#logged").is(":checked")){ // ID 저장하기 체크했을 때,
    //             var userInputId = $("input[name='userid']").val();
    //             setCookie("userInputId", userInputId, 7); // 7일 동안 쿠키 보관
    //         }else{ // ID 저장하기 체크 해제 시,
    //             deleteCookie("userInputId");
    //         }
    //     });
        
    //     // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장.
    //     $("input[name='userid']").keyup(function(){ // ID 입력 칸에 ID를 입력할 때,
    //         if($("#logged").is(":checked")){ // ID 저장하기를 체크한 상태라면,
    //             var userInputId = $("input[name='userid']").val();
    //             setCookie("userInputId", userInputId, 7); // 7일 동안 쿠키 보관
    //         }
    //     });
    // });
    // function setCookie(cookieName, value, exdays){
    // var exdate = new Date();
    // exdate.setDate(exdate.getDate() + exdays);
    // var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
    // document.cookie = cookieName + "=" + cookieValue;
    // }
    
    // function deleteCookie(cookieName){
    //     var expireDate = new Date();
    //     expireDate.setDate(expireDate.getDate() - 1);
    //     document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
    // }
    
    // function getCookie(cookieName) {
    //     cookieName = cookieName + '=';
    //     var cookieData = document.cookie;
    //     var start = cookieData.indexOf(cookieName);
    //     var cookieValue = '';
    //     if(start != -1){
    //         start += cookieName.length;
    //         var end = cookieData.indexOf(';', start);
    //         if(end == -1)end = cookieData.length;
    //         cookieValue = cookieData.substring(start, end);
    //     }
    //     return unescape(cookieValue);
    // }

</script>