<%- contentFor('style') %>
<link rel="stylesheet" href="/assets/css/recruit.css">

<%- contentFor('content') %>
<div class="tr-banner-recruit-detail bg-image section-before">
    <div class="container">
        <div class="breadcrumb-info text-center">
            <div class="breadcrumb-logo">
                <%-(recruitInfo.LOGOFILE) ? `<img src='${hostName}/api/files/get/${recruitInfo.LOGOFILE}' alt='images' class='img-fluid'>` : `<h2>${recruitInfo.NAME}</h2>` %> 
            </div>
            <div class="page-title">
                <h1><%-recruitInfo.SUBJECT %></h1>
            </div>
            <ul class="tr-list job-meta list-inline">
                <li><i class="fa fa-map-signs" aria-hidden="true"></i><%-recruitInfo.WORKREGION_NAME %> </li>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i><%-recruitInfo.WORKSHIFT %></li>
                <li><i class="fa fa-money" aria-hidden="true"></i><%-recruitInfo.SALARYTYPE %> <%-recruitInfo.SALARY %></li>
                <li><i class="fa fa-tags" aria-hidden="true"></i><%-recruitInfo.JOBKIND_NAME %></li>
                <li><i class="fa fa-hourglass-start" aria-hidden="true"></i><%=(recruitInfo.ENDDATE) ? '~' + moment(recruitInfo.ENDDATE).format('YY.MM.DD') : '채용시까지' %></li>
            </ul>	
            <% if (!user || user.Type == "U") {%>
            <div class="buttons">
                <% if (status && status.ISAPPLY){ %>
                    <a class="btn btn-danger button-cancel-apply"><i class="fa fa-briefcase" aria-hidden="true"></i> 지원 취소</a>
                <%} else {%> 
                    <a class="btn btn-apply <%=(user) ? 'button-apply' : 'button-need-login' %>"><i class="fa fa-briefcase" aria-hidden="true"></i> 입사 지원하기</a>
                <%}%> 
                <% if (status && status.ISSCRAP){ %>
                    <a class="btn btn-warning button-cancel-scrap"><i class="fa fa-bookmark" aria-hidden="true"></i> 즐겨찾기 제거</a>
                <%} else {%> 
                    <a class="btn button-bookmark <%=(user) ? 'button-scrap' : 'button-need-login' %>"><i class="fa fa-bookmark" aria-hidden="true"></i> 즐겨찾기 등록</a>
                <%}%> 
                </div>		
            <%} %>
        </div>
    </div><!-- /.container -->
</div><!-- /.tr-breadcrumb -->
<div class="job-details section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">                
                    <%-include('./detailRecruit') %>

                    <div class="area-section">
                        <span class="tr-title"><i class="fa fa-check text-secondary"></i> 유의사항</span>
                        <p>입사지원 서류에 허위사실이 발견될 경우, 채용확정 이후라도 채용이 취소될 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="tr-sidebar">
                    <div class="widget-area">
                        <div class="widget short-info">
                            <h3 class="widget_title">이 공고는...</h3>
                            <ul class="tr-list">
                                <%
                                    var sdt = new Date();
                                    var edt = new Date(recruitInfo.CREATED);
                                    var dateDiff = Math.abs(Math.ceil((edt.getTime()-sdt.getTime())/(1000*3600*24)));
                                %>
                                <li class="media"><div class="pull-left"><i class="fa fa-calendar" aria-hidden="true"></i></div> <div class="media-body"><span><%=dateDiff%>일 전에 등록</span></div></li>
                                <li class="media"><div class="pull-left"><i class="fa fa-user-plus" aria-hidden="true"></i></div> <div class="media-body"><span><%=recruitInfo.APPLYCOUNT %>명의 지원자</span></div></li>
                            </ul>
                            <% if (status && status.ISAPPLY){ %>
                                <div class="alert alert-danger" role="alert">
                                    이 공고는 <%=moment(status.APPLYDATE).format('YYYY.MM.DD HH:mm:ss') %>에 지원했습니다
                                </div>                                
                            <% } %>
                        </div><!-- /.widger -->
                        <div class="widget short-info">
                            <h3 class="widget_title">인사 담당자</h3>
                            <span><%=recruitInfo.NAME %></span>
                            <ul class="tr-list">
                                <li><span></span> (<%=recruitInfo.POSTCODE %>) <%=recruitInfo.ADDRESS %> <%=recruitInfo.ADDRESSEXTRA %></li>
                                <li><span></span>  <%=recruitInfo.HRONAME %></li>
                                <li><span></span>  <%=recruitInfo.HROCONTACT %></li>
                                <li><span></span>  <%=recruitInfo.HROEMAIL %></li>
                            </ul>
                        </div><!-- /.widger -->
                        <% if (status && status.ISAPPLY){ %>
                            <button type="button" class="button-cancel-apply button-recruit-apply-cancel">지원 취소</button>
                        <%} else {%> 
                            <button type="button" class="button-apply button-recruit-apply">입사 지원</button>
                        <%}%> 
                        <!-- <button type="button" class="button-list button-recruit-list m-t-20">목록 보기</button> -->
                        <button type="button" class="button-recruit-list m-t-20">목록 보기</button>
                    </div><!-- /.widget-area -->
                </div><!-- /.tr-sidebar -->
            </div>
        </div><!-- row -->

        <div class="tr-job-posted similar-jobs">
            <span class="tr-title">유사한 구인 공고</span>
            <div class="row">
                <%
                if (topList) {
                    topList.forEach(item => { %>
                        <div class="col-md-6 col-lg-3">
                            <div class="job-item">
                                <div class="item-overlay">
                                    <div class="job-info">
                                        <a href="#" class="btn btn-primary"><%=item.CHARGE %></a>
                                        <span class="tr-title">
                                            <a href="#" onclick="showDetail(<%=item.SEQ %>)"><%=item.SUBJECT %></a>
                                        </span>
                                        <ul class="tr-list job-meta">
                                            <li><i class="fa fa-home" aria-hidden="true"></i><%=item.NAME %></li>
                                            <li><i class="fa fa-map-signs" aria-hidden="true"></i><%=item.ADDRESS %></li>
                                            <li><i class="fa fa-clock-o" aria-hidden="true"></i><%=item.WORKSHIFT %> <%=item.WORKSHIFTTIME %></li>
                                            <li><i class="fa fa-money" aria-hidden="true"></i><%=item.SALARYTYPE %> <%=item.SALARY %></li>
                                        </ul>
                                        <ul class="job-social tr-list listing-2" > 
                                            <li><a onclick="cancelScrap(<%=item.SEQ %>)"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                            <li><a onclick="showDetail(<%=item.SEQ %>)"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>										
                                </div>
                                <div class="job-info">
                                    <div class="company-logo">
                                        <%-(item.LOGOFILE) ? `<img src='${hostName}/api/files/get/${item.LOGOFILE}' alt='images' class='img-fluid'>` : `<h5>${item.NAME}</h5>` %> 
                                    </div>
                                    <span class="tr-title">
                                        <a href="#"><%=item.SUBJECT %></a>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><span><i class="fa fa-home" aria-hidden="true"></i></span><%=item.NAME %></li>
                                        <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span><%=item.ADDRESS %></li>
                                        <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span><%=item.WORKSHIFT %><%=item.WORKSHIFTTIME %></li>
                                        <li><span><i class="fa fa-money" aria-hidden="true"></i></span><%=item.SALARYTYPE %> <%=item.SALARY %></li>
                                    </ul>
                                    <div class="time">
                                        <a href="#"><span><%=item.CHARGE %></span></a>
                                        <span class="pull-right"><%=(item.ENDDATE) ? '~' + moment(item.ENDDATE).format('YY.MM.DD') : '채용시까지' %></td></span>
                                    </div>																				
                                </div>
                            </div>
                        </div>
                    <% })
                }
            %>
                </div>
        </div><!-- /.tr-job-posted -->		
    </div><!-- /.container -->
</div><!-- /.tr-details -->	

<%- contentFor('script') %>

<script>
let seq = <%=recruitInfo.SEQ %>;
let applyResult = '<%=applyResult %>';
let regions = '<%=regions %>';
let jobKinds = '<%=jobKinds %>';
let workingTypes = '<%=workingTypes %>';
let searchType = '<%=searchType %>';
let keyword = '<%=keyword %>';

$(document).ready(function() {
    $(".button-apply").click(apply);
    $(".button-cancel-apply").click(cancelApply);
    $(".button-list").click(gotoList);

    $(".button-scrap").click(scrap);
    $(".button-cancel-scrap").click(cancelScrap);
    
    $(".button-need-login").click(needLogin);
    ShowMessage;
});

let needLogin = function() {
    alert("먼저 로그인해야 합니다.");
    return false;
}

let apply = function() {
    if (confirm("이 구인 공고에 지원하시겠습니까?")) {
        doGetCallSync(`/recruit/apply?seq=${seq}`)
        .success(function(json){
            if (json.result == "success") 
                self.location.reload();
            else
                alert("구인 공고에 지원하는 도중에 오류가 발생했습니다.");
        })
        .fail(function(sender, message, details){
            alert("구인 공고에 지원하는 도중에 오류가 발생했습니다.");
        });
    }
}

let cancelApply = function() {
    if (confirm("지원을 취소하시겠습니까?")) {
        doGetCallSync(`/recruit/cancelApply?seq=${seq}`)
        .success(function(json){
            if (json.result == "success") 
                self.location.reload();
            else
                alert("지원한 구인 공고에서 지원을 취소하는 도중에 오류가 발생했습니다.");
        })
        .fail(function(sender, message, details){
            alert("지원한 구인 공고에서 지원을 취소하는 도중에 오류가 발생했습니다.");
        });
    }
}

let scrap = function() {
    doGetCallSync(`/recruit/scrap?seq=${seq}`)
    .success(function(json){
        if (json.result == "success") 
            self.location.reload();
        else
            alert("구인 공고를 북마크에 등록하는 도중에 오류가 발생했습니다.");
    })
    .fail(function(sender, message, details){
        alert("구인 공고를 북마크에 등록하는 도중에 오류가 발생했습니다.");
    });
}

let cancelScrap = function() {
    doGetCallSync(`/recruit/cancelScrap?seq=${seq}`)
    .success(function(json){
        if (json.result == "success") 
            self.location.reload();
        else
            alert("북마크에서 제거하는 도중에 오류가 발생했습니다.");
    })
    .fail(function(sender, message, details){
        alert("북마크에서 제거하는 도중에 오류가 발생했습니다.");
    });
}

let ShowMessage = function()
{
    switch (applyResult) {
        case "userNotMatch" : 
            alert("구인 공고에는 구직자만 지원이 가능합니다.");
            break;
    } 
}

let gotoList = function() {
    self.location = `/recruit/list?regions=${regions}&jobKinds=${jobKinds}&workingTypes=${workingTypes}&searchType=${searchType}&keyword=${keyword}`;
}

let showDetail = function(seq) {
    window.open(`/recruit/detail?seq=${seq}&regions=${regions}&jobKinds=${jobKinds}&workingTypes=${workingTypes}&searchType=${searchType}&keyword=${keyword}`);
}
</script>