<%- contentFor('style') %>
<link rel="stylesheet" href="/assets/css/recruit.css">

<%- contentFor('content') %>
<div class="tr-breadcrumb bg-image section-before">
    <div class="container">
        <div class="breadcrumb-info text-center">
            <div class="page-title">
                <h1>Recruitment announcements by region</h1>
            </div>		
            <div class="banner-form">
                <form action="#">
                    <div class="dropdown tr-change-dropdown">
                        <a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">Search For</span><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu tr-change" style="left:0 !important">
                            <li><a href="#">마트 이름</a></li>
                            <li><a href="#">공고 제목</a></li>
                        </ul>								
                    </div><!-- /.category-change -->
                    <input type="text" class="form-control" placeholder="Job Keyword">
                    <button type="submit" class="btn btn-primary" value="Search">Search</button>
                </form>
            </div><!-- /.banner-form -->				
        </div>
    </div><!-- /.container -->
</div><!-- tr-breadcrumb -->

<div class="jobs-listing section-padding">
    <div class="container">

        <div class="job-topbar">
            <span class="pull-left">지역별 구인공고</span>
            <ul class="nav nav-tabs job-tabs" role="tablist">
                <li><%=numeral(totalCount).format('0,0') %> Total jobs</li>
                <li role="presentation" class="active"><a href="#four-colum" aria-controls="four-colum" role="tab" data-toggle="tab"><i class="fa fa-th" aria-hidden="true"></i></a></li>
                <li role="presentation"><a href="#two-column" aria-controls="two-column" role="tab" data-toggle="tab"><i class="fa fa-th-list" aria-hidden="true"></i></a></li>
            </ul>				
        </div>
        <div class="recruit text-center clearfix">
            <div class="area_section">
        <% if (regionList) {
            regionList.forEach(region => {%>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="workingRegion" value="<%=region.SEQ %>" id="workingRegion_<%=region.SEQ %>" >
                    <label class="form-check-label" for="inlineCheckbox1"><%=region.NAME %></label>
                </div>
        <%}) } %>
            </div>
        </div>

        <%- include('list', {list: list}); %>

    </div><!-- /.container -->		
</div><!-- /.jobs-listing -->

<%- contentFor('script') %>