<%- contentFor('style') %>
<link rel="stylesheet" href="/assets/css/recruit.css">
<link rel="stylesheet" href="/assets/css/mart.css">

<%- contentFor('content') %>
<div class="tr-banner-recruit bg-image section-before">
    <div class="container">
        <div class="breadcrumb-info text-center">
            <div class="page-title">
                <h1>이력서 열람</h1>
            </div>		
        </div>
    </div><!-- /.container -->
</div><!-- tr-breadcrumb -->

<div class="jobs-listing section-padding">
    <div class="container">

        <div class="job-topbar">
            <span class="pull-left"><i class="fa fa-search"></i> 검색 조건</span>
            <ul class="nav nav-tabs job-tabs" role="tablist">
                <li>총 <%=numeral(totalCount).format('0,0') %> 개의 이력서가 등록되어 있습니다</li>
            </ul>				
        </div>
        <div class="recruit clearfix">
            <div class="area-section">
                <div class="row">
                    <div class="col-md-2">지역</div>
                    <div class="col-md-8">
                <% if (regionList) {
                    regionList.forEach(item => {
                        %>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="workingRegion" value="<%=item.SEQ %>" id="workingRegion_<%=item.SEQ %>" >
                            <label class="form-check-label" for="workingRegion_<%=item.SEQ %>"><%=item.NAME %></label>
                        </div>
                <%}) } %>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary button-search">검색</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2">직종</div>
                    <div class="col-md-8">
                <% if (jobKindList) {
                    jobKindList.forEach(item => {%>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="jobKind" value="<%=item.SEQ %>" id="jobKind_<%=item.SEQ %>" >
                            <label class="form-check-label" for="jobKind_<%=item.SEQ %>"><%=item.NAME %></label>
                        </div>
                <%}) } %>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-dark button-search-reset">조건 리셋</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2">인증</div>
                    <div class="col-md-8">
                        <select class="form-control" id="certificate">                           
                            <option value="" selected="">전체</option>                       
                            <option value="Y">인증</option>
                            <option value="N">미인증</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="job-topbar">
            <span class="pull-left"><i class="fa fa-list-alt"></i> 열람 가능한 이력서 </span>
            <ul class="nav nav-tabs job-tabs" role="tablist">
                <li>총 <%=numeral(totalCount).format('0,0') %> 개의 이력서</li>
            </ul>				
        </div>

        <div class="resume-list m-t-20">
            <div class="table-responsive-sm">
                <table class="table">
                    <thead class="thead-light">
                        <tr class="text-center">
                          <th scope="col">사진</th>
                          <th scope="col">이름/나이</th>
                          <th scope="col">경력/최종학력</th>
                          <th scope="col">희망연봉/직종/지역</th>
                          <th scope="col">인증여부</th>
                          <th scope="col">최종수정</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if (list) {
                        list.forEach(item => { 
                            let NAME = item.NAME.substring(0, item.NAME.length / 2) + "**";
                            %>
                            <tr class="text-center cursor-pointer" onclick="showResume(<%=item.SEQ %>)">
                                <td>
                                    <div class="user-image">
                                    <%-(item.PHOTO) ? `<img src="${hostName}/api/files/get/${item.PHOTO}" alt="Image" class="img-fluid">` : '<img src="/assets/images/others/author.png" alt="Image" class="img-fluid">' %>
                                    </div>
                                </td>
                                <td>
                                    <div class="name"><%=NAME %></div>
                                    <div class="age"><%=(new Date()).getFullYear() - item.BIRTHYEAR * 1.0 %>, <%=item.GENDER %></div>
                                </td>
                                <td>
                                    <div><%=item.CAREER_NAME %></div>
                                    <div><%=item.EDUCATION %></div>
                                    <div><%=item.EDUCATIONSCHOOL %></div>
                                </td>
                                <td>
                                    <div><%=item.SALARY %></div>
                                    <div><%=item.JOBKIND_NAME %></div>
                                    <div><%=item.WORKREGION_NAME %></div>
                                </td>
                                <td>
                                    <div><%-(item.CERTIFICATE == 'Y') ? `<div class="text-warning font-big"><i class="fa fa-check"></i></div>` : '미인증' %></div>
                                    <div><%-(item.CERTIFICATE == 'Y') ? moment(item.CERTIFICATEDATE).format('YYYY.MM.DD') + '<br>인증' : '' %></div>
                                </td>
                                <td>
                                    <div><%=moment(item.MODIFIED).format('YYYY.MM.DD') %></div>
                                </td>
                            </tr>
                        <%})
                    } %>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation" style="text-align: center; margin: 0 auto;">
                <ul class="pagination justify-content-center" id="resume-page"></ul>
            </nav>
        </div>

    </div><!-- /.container -->		
</div><!-- /.jobs-listing -->

<%- contentFor('script') %>

<script>
let totalCount =<%=totalCount %>; 
let page = <%=page %>;
let rowCount = <%=rowCount %>;
let regions = [<%=regions %>];
let jobKinds = [<%=jobKinds %>];
let certificate = '<%=certificate %>';

$(document).ready(function() {
    // 페이저 만들기
    if (totalCount <= rowCount) {
        $('#resume-page').hide();
    } else {
        createPagination('resume-page', totalCount, rowCount, page, 10, `/resume/list?regions=${regions}&jobKinds=${jobKinds}&certificate=${certificate}`);
    }
    // 검색 조건 설정
    regions.forEach(item => {
        $('input:checkbox[id="workingRegion_' + item + '"]').prop("checked", true);
    });
    jobKinds.forEach(item => {
        $('input:checkbox[id="jobKind_' + item + '"]').prop("checked", true);
    });
    $('#certificate').val(certificate);
    //검색 버튼 설정
    $(".button-search").click(search)
    $(".button-search-reset").click(function() {
        $('input:checkbox[name="workingRegion"]').prop("checked", false);
        $('input:checkbox[name="jobKind"]').prop("checked", false);
        $('#certificate').val("");
    })
});

let getRegions = function () {
    let checkRegion = "";
    $('input:checkbox[name="workingRegion"]').each(function() {
        if(this.checked){
            checkRegion += this.value + ","; 
        }
    });
    if (checkRegion.length > 0) checkRegion = checkRegion.substring(0, checkRegion.length - 1);
    return checkRegion;
}

let getJobKinds = function () {
    let checkJobKind = "";
    $('input:checkbox[name="jobKind"]').each(function() {
        if(this.checked){
            checkJobKind += this.value + ","; 
        }
    });
    if (checkJobKind.length > 0) checkJobKind = checkJobKind.substring(0, checkJobKind.length - 1);
    return checkJobKind;
}

let search = function () {
    let regions = getRegions();
    let jobKinds = getJobKinds();
    let certificate = $('#certificate').val();

    self.location = `/resume/list?regions=${regions}&jobKinds=${jobKinds}&certificate=${certificate}`;
}

let showResume = function(seq) {
    self.location = `/resume/detail?seq=${seq}&regions=${regions}&jobKinds=${jobKinds}&certificate=${certificate}&listPage=${page}`;
}

</script>