<%- contentFor('style') %>
<link rel="stylesheet" href="/assets/css/mart.css">

<%- contentFor('content') %>
<%- include('module_martInfo.ejs') %>

<div class="all-view section-padding" style="padding-top: 20px;">
    <div class="container">
        <div class="row" style="padding-bottom: 20px;">
            <div class="offset-sm-10 col-sm-2">
                <button type="button" class="btn btn-primary btn-block" id="create">새 공고 등록</button>
            </div>
        </div>
        <div class="section" style="padding-top: 0px !important;">
            <div id="tab_main" class="tab_main">
                <ul class="tabListBar" data-fixed="fixed">
                    <li class="<%=(active == 'Y') ? 'select' : '' %>">
                        <a type="button" class="inTab" href="/mart/recruit?active=Y"><span>진행 중 (<%=(activeInfo) ? activeInfo.ACTIVE : '0' %>)</span></a>
                    </li>
                    <li class="<%=(active == 'W') ? 'select' : '' %>">
                        <a type="button" class="inTab" href="/mart/recruit?active=W"><span>대기 (<%=(activeInfo) ? activeInfo.WAIT : '0' %>)</span></a>
                    </li>
                    <li class="<%=(active == 'N') ? 'select' : '' %>">
                        <a type="button" class="inTab" href="/mart/recruit?active=N"><span>마감 (<%=(activeInfo) ? activeInfo.INACTIVE : '0' %>)</span></a>
                    </li>
                    <li class="<%=(!active) ? 'select' : '' %>">
                        <a type="button" class="inTab" href="/mart/recruit"><span>전체 (<%=(activeInfo) ? activeInfo.ACTIVE * 1.0 + activeInfo.INACTIVE * 1.0 + activeInfo.WAIT * 1.0: '0' %>)</span></a>
                    </li>
                </ul>
            </div>
            <div class="recruit-list">
                <ul>
                    <% if (list) {
                        list.forEach(item => { %>
                            <li class="recruit-list-row">
                            <div class="info-recruit">
                                <a href="/mart/recruitResume?seq=<%=item.SEQ %>&page=<%=page %>" class="title <%=(item.ACTIVE == 'Y') ? 'text-info' : 'text-secondary' %>">
                                    <%=item.SUBJECT %>
                                </a>
                                <div class="date">
                                    <dl>
                                        <dd><%=moment(item.STARTDATE).format('YYYY.MM.DD') %> ~ <%=(item.ENDDATE) ? moment(item.ENDDATE).format('YYYY.MM.DD') : '채용시까지' %></dd>
                                        <dd><%=moment(item.MODIFIED).format('YYYY.MM.DD') %>  수정</dd>
                                        <dd><%=item.CHARGE %></dd>
                                    </dl>
                                </div>
                                <div class="area-status">
                                    <div class="box-status">
                                        <strong class="text-status point_color"><%=(item.ACTIVE == 'Y') ? '진행 중' : (item.ACTIVE == 'W') ? '진행 대기 중' : '마감된 공고' %></strong>
                                        <div class="area-link">
                                            <%-(item.ACTIVE == 'W') ? `<button type="button" class="btn btn-outline-primary btn-sm" onclick="active(${item.SEQ})">진행 시작</button>` : '' %>                                            
                                            <%-(item.ACTIVE == 'Y' || item.ACTIVE == 'W') ? `<button type="button" class="btn btn-outline-secondary btn-sm" onclick="edit(${item.SEQ})">수정</button>` : '' %>                                            
                                            <button type="button" class="btn btn-dark btn-sm" onclick="copyRecruit(<%=item.SEQ %>)">복사</button>
                                            <%-(item.ACTIVE == 'Y') ? `<button type="button" class="btn btn-warning btn-sm" onclick="closeRecruit(${item.SEQ})">마감</button>` : '' %>
                                        </div>
                                    </div>
                                    <div class="status-type">
                                        <% let unreadCount = item.APPLYCOUNT * 1.0 - item.VIEWCOUNT * 1.0; %>
                                        <span class="m-r-10">지원 <%=item.APPLYCOUNT %></span>
                                        <span class="m-r-10">열람 <%=item.VIEWCOUNT %></span>
                                        미열람 <%-(unreadCount > 0) ? `<span class="unread">${unreadCount}</span>` : unreadCount %>
                                    </div>
                                </div>
                            </li>                                            
                        <%})
                    } %>
                </ul>
            
                <nav aria-label="Page navigation" style="text-align: center; margin: 0 auto;">
                    <ul class="pagination justify-content-center" id="recruit-page"></ul>
                </nav>

            </div>
        </div>
    </div>	
</div>

<%- contentFor('script') %>
<script>
let totalCount =<%=totalCount %>; 
let page = <%=page %>;
let rowCount = <%=rowCount %>;

$(document).ready(function() {
    // 페이저 만들기
    if (totalCount <= rowCount) {
        $('#recruit-page').hide();
    } else {
        createPagination('recruit-page', totalCount, rowCount, page, 10, `/mart/recruit`);
    }
    $("#create").click(function() {
        self.location = "/mart/recruitCreate";
    });
})

let edit = function(seq) {
    self.location = `/mart/recruitEdit?seq=${seq}&page=${page}`;
}

let closeRecruit = function(seq) {
    if (confirm("공고를 마감합니다. 마감된 공고는 재개할 수 없으며, 복사를 통해 다시 게시할 수 있습니다. 계속하시겠습니까?")) {
        doGetCallSync(`/recruit/close?seq=${seq}`)
        .success(function(json){
            if (json.result == "success") 
                self.location.reload();
            else
                alert("공고를 마감하는 도중에 오류가 발생했습니다.");
        })
        .fail(function(sender, message, details){
            alert("공고를 마감하는 도중에 오류가 발생했습니다.");
        });
    }
}

let copyRecruit = function(seq) {
    if (confirm("공고를 복사합니다. 계속하시겠습니까?")) {
        doGetCallSync(`/recruit/copy?seq=${seq}`)
        .success(function(json){
            if (json.result == "success") 
                self.location = `/mart/recruitEdit?seq=${json.data}&page=${page}`;
            else
                alert("공고를 복사하는 도중에 오류가 발생했습니다.");
        })
        .fail(function(sender, message, details){
            alert("공고를 복사하는 도중에 오류가 발생했습니다.");
        });
    }
}


let active = function(seq) {
    if (confirm("공고를 진행합니다. 계속하시겠습니까?")) {
        doGetCallSync(`/recruit/active?seq=${seq}`)
        .success(function(json){
            if (json.result == "success") 
                self.location.reload();
            else
                alert("공고를 시작하는 도중에 오류가 발생했습니다.");
        })
        .fail(function(sender, message, details){
            alert("공고를 시작하는 도중에 오류가 발생했습니다.");
        });
    }
}


</script>