<%- contentFor('style') %>
<link rel="stylesheet" href="/assets/css/userPage.css">

<%- contentFor('content') %>
<%-include('module_userPageInfo.ejs') %>

<div class="tr-profile section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="tr-sidebar">
                    <%-include('module_userPageLeft.ejs') %>
                </div>
            </div>
            
            <div class="col-md-8 col-lg-9 account-info">
                <div class="section resume-last-updated">
                    <span class="icon pull-left"><img src="/assets/images/icons/1.png" alt="Icon" class="img-fluid"></span>
                    <div class="updated-info">
                        <span class="pull-left">이력서의 마지막 업데이트</span>
                        <span class="pull-right"><%=moment(resumeInfo.MODIFIED).format('YYYY.MM.DD HH:mm:ss') %></span>
                    </div>
                </div><!-- /.resume-last-updated -->

                <% if (resumeInfo.CERTIFICATE == 'Y') { %> 
                    <div class="alert alert-warning">
                        <span class="icon pull-left"><div class="text-warning font-big"><i class="fa fa-check"></i></div></span>
                        <div class="updated-info">
                            <span class="pull-left">이 이력서는 인증되었습니다</span>
                            <span class="pull-right"><%=moment(resumeInfo.CERTIFICATEDATE).format('YYYY.MM.DD') %> 인증</span>
                        </div>
                    </div><!-- /.resume-last-updated -->
                <%} else if (resumeInfo.CAREERCERTIFICATE) { %>
                    <div class="alert alert-dark">
                        <span class="icon pull-left"><div class="text-warning font-big"><i class="fa fa-check"></i></div></span>
                        <div class="updated-info">
                            <span class="pull-left">인증용 파일을 첨부했으나 아직 인증되지 않았습니다.</span>                                    
                        </div>
                    </div><!-- /.resume-last-updated -->
                <% } %>


                <div class="section display-information">
                    <div class="title title-after">
                        <div class="icon"><img src="/assets/images/icons/2.png" alt="Icon" class="img-fluid"></div> 
                        <span>기본 정보</span>
                    </div>

                    <div class="change-photo pull-left m-r-15">
                        <div class="user-image">
                            <%-(resumeInfo.PHOTO) ? `<img src="${hostName}/api/files/get/${resumeInfo.PHOTO}" alt="Image" class="img-fluid">` : '<img src="/assets/images/others/author.png" alt="Image" class="img-fluid">' %>
                        </div>
                    </div>
                    <div>
                        <dl class="row">
                            <dt class="col-sm-3">이름</dt>
                            <dd class="col-sm-9"><%=resumeInfo.NAME %> (<%=resumeInfo.GENDER %>) / <%=resumeInfo.BIRTHYEAR %>년 생 (<%=(new Date()).getFullYear() - resumeInfo.BIRTHYEAR * 1.0 %>)</dd>
                            
                            <dt class="col-sm-3">주소</dt>
                            <dd class="col-sm-9">(<%=resumeInfo.POSTCODE %>) <%=resumeInfo.ADDRESS %> <%=resumeInfo.ADDRESSEXTRA %></dd>
                            
                            <dt class="col-sm-3">연락처</dt>
                            <dd class="col-sm-9"><%=resumeInfo.CONTACT %></dd>
                            
                            <dt class="col-sm-3">이메일</dt>
                            <dd class="col-sm-9"><%=resumeInfo.EMAIL %></dd>
                            
                            <dt class="col-sm-3">학력</dt>
                            <dd class="col-sm-9"><%=resumeInfo.EDUCATION %> (<%=resumeInfo.EDUCATIONSCHOOL %>)</dd>
                            </dl>                                
                    </div>
                </div><!-- /.display-information -->
                <div class="section">
                    <ul class="tr-list resume-info">
                        <li class="personal-deatils media">
                            <div class="icon">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <span class="tr-title">이력서 정보</span>
                                <ul class="tr-list">
                                    <li><span class="left">경력여부</span><span class="middle">:</span> <span class="right"><%= resumeInfo.CAREER_NAME %></span></li>
                                    <li><span class="left">보유기술 </span><span class="middle">:</span> <span class="right"><%=resumeInfo.TECHNICAL %></span></li>
                                    <li><span class="left">자격증</span><span class="middle">:</span> <span class="right"><%=resumeInfo.LICENSE %></span></li>
                                    <li><span class="left">보훈대상</span><span class="middle">:</span> <span class="right"><%=resumeInfo.ISWELFARE %></span></li>
                                    <li><span class="left">병역사항</span><span class="middle">:</span> <span class="right"><%=resumeInfo.ISMILITALY %></span></li>
                                </ul>							    	
                            </div>
                        </li><!-- /.personal-deatils -->
                        <% if (listCareer) { %>
                        <li class="work-history media">
                            <div class="icon">
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <span class="tr-title">근무 기록</span>
                                <div class="tr-list">
                                    <%    listCareer.forEach(item => { %>
                                            
                                            <table class="table">
                                                <tr>
                                                    <th>근무처</th>
                                                    <td><%=item.COMPANY %></td>
                                                    <th>직급직책</th>
                                                    <td><%=item.POSITION %></td>
                                                    <th>근무 기간</th>
                                                    <td colspan="3"><%=moment(item.WORKSTART).format('YYYY.MM.DD') %>~ <%=(item.WORKEND) ? moment(item.WORKEND).format('YYYY.MM.DD') : '재직 중' %></td>
                                                </tr>
                                                <tr>
                                                    <th>직종</th>
                                                    <td><%=item.JOBTYPE %></td>
                                                    <th>근무지역</th>
                                                    <td><%=item.WORKREGION %></td>
                                                    <th>담당업무</th>
                                                    <td><%=item.WORKREGION %></td>
                                                    <th>최종 급여</th>
                                                    <td><%=item.SALARY %></td>
                                                </tr>
                                            </table>
                                        <% }) %>
                                </div>
                            </div>
                        </li>
                        <% } %>
                        <li class="career-objective media">
                            <div class="icon">
                                <i class="fa fa-black-tie" aria-hidden="true"></i>
                            </div>  
                            <div class="media-body">
                                <span class="tr-title">자기 소개서</span>
                                <div class="introduce"><%-resumeInfo.INTRODUCE %></div>
                            </div>
                        </li>
                        <li class="career-objective media">
                            <div class="icon">
                                <i class="fa fa-file-word" aria-hidden="true"></i>
                            </div>  
                            <div class="media-body">
                                <span class="tr-title">인증용 파일</span>
                                <div class="introduce"><%-(resumeInfo.CAREERCERTIFICATE) ? `<a href='${hostName}/api/files/get/${resumeInfo.CAREERCERTIFICATE}' target='_blank'>다운로드 </a>` : '제출되지 않았습니다' %></div>
                            </div>
                        </li>
                    </ul>  
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.tr-profile -->	

<%- contentFor('script') %>