<%- contentFor('style') %>
<link rel="stylesheet" href="/assets/css/userPage.css">

<%- contentFor('content') %>
<%-include('module_UserPageInfo.js') %>

<div class="tr-profile section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="tr-sidebar">
                    <%-include('module_UserPageLeft.js') %>
                </div>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in show active account-info" id="account-info">	
                        <div class="section resume-last-updated">
                            <span class="icon pull-left"><img src="/assets/images/icons/1.png" alt="Icon" class="img-fluid"></span>
                            <div class="updated-info">
                                <span class="pull-left">마지막 업데이트</span>
                                <span class="pull-right"><%= moment(userInfo.MODIFIED).format('YYYY.MM.DD hh:mm:ss')%></span>
                            </div>
                        </div><!-- /.resume-last-updated -->

                        <% if (userInfo.CERTIFICATE == 'Y') { %> 
                            <div class="alert alert-warning">
                                <span class="icon pull-left"><div class="text-warning font-big"><i class="fa fa-check"></i></div></span>
                                <div class="updated-info">
                                    <span class="pull-left">이 이력서는 인증되었습니다</span>
                                    <span class="pull-right"><%=moment(userInfo.CERTIFICATEDATE).format('YYYY.MM.DD') %> CERTIFICATED</span>
                                </div>
                            </div><!-- /.resume-last-updated -->
                        <%} else if (userInfo.CAREERCERTIFICATE) { %>
                            <div class="alert alert-dark">
                                <span class="icon pull-left"><div class="text-warning font-big"><i class="fa fa-check"></i></div></span>
                                <div class="updated-info">
                                    <span class="pull-left">인증용 파일을 첨부했으나 아직 인증되지 않았습니다.</span>                                    
                                </div>
                            </div><!-- /.resume-last-updated -->
                        <% } %>

                        <div class="section display-information">
                            <div class="title title-after">
                                <img src="/assets/images/icons/2.png" alt="Icon" class="img-fluid">
                                <span>내 정보</span>
                            </div>
                           
                            <ul class="tr-list account-details">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <li>이름<span><%= userInfo.NAME %></span></li>
                                    </div>
                                    <div class="col-sm-4" style="text-align : center;">
                                        <% if (userInfo.PHOTO) {%><img src='<%=hostName %>/api/files/get/<%=userInfo.PHOTO %>'alt="Icon" class="img-fluid"><% } %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <li>주소<span>(<%= userInfo.POSTCODE %>) <%= userInfo.ADDRESS %> <%= userInfo.ADDRESSEXTRA %></span></li>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <li>핸드폰<span><%= userInfo.CONTACT %></span></li>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <li>이메일<span><a href="#"><%= userInfo.EMAIL %></a></span></li>
                                    </div>
                                </div>
                                <br>
                                <br>
                            </ul>								
                        </div><!-- /.display-information -->
                    </div><!-- /.tab-pane -->
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.tr-profile -->	

<%- contentFor('script') %>

