<%- contentFor('style') %>
<link rel="stylesheet" href="/assets/css/userPageEdit.css">
<link href="/plugins/summernote-0.8.18-dist/summernote.min.css" rel="stylesheet" />

<%- contentFor('content') %>

<%-include('module_userPageInfo.ejs') %>
<div class="tr-profile section-padding">
    <div class="container">
        <div class="row">
            <!-- 좌측 레이아웃 -->
            <div class="col-md-4 col-lg-3">
                <div class="tr-sidebar">
                    <%-include('module_userPageLeft.ejs') %>
                </div>
            </div>
            <!-- 중앙 레이아웃 -->
            <div class="col-md-8 col-lg-9">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in show active account-info">
                        <div class="section resume-last-updated">
                        <span class="icon pull-left"><img src="/assets/images/icons/1.png" alt="Icon" class="img-fluid"></span>
                            <div class="row item">
                                <label for="subject" class="col-sm-2 col-form-label title">이력서 이름</label>
                                <div class="col-sm-6 data">
                                    <input type="text" class="form-control" id="subject" name="subject" value="<%=resumeInfo.SUBJECT %>" required>
                                </div>
                            </div>
                        </div>
                        <div class="section display-information">
                        <!-- 개인정보 -->
                        <span class="tr-title">개인 정보</span>
                        <div class="media-body">
                            <div class="row">
                                <div class="change-photo col-sm-4">
                                    <div class="user-image user-photo">
                                        <% if (resumeInfo.PHOTO) {%><img id='profile-photo'src='<%=hostName %>/api/files/get/<%=resumeInfo.PHOTO %>'alt="Icon" class="img-fluid"><% } %>
                                    </div>
                                    <div class="upload-photo">
                                        <label class="btn btn-primary photoUploadBtn" for="upload-photo" >사진 업로드</label>
                                        <input type="file" id="upload-photo">
                                        <!-- <span class="max-size">Max 20 MB</span> -->
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label>이름 </label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="name" name="name" type="text" placeholder=".form-control-sm" value="<%= resumeInfo.NAME %>">
                                        </div>
                                        <div class="col-sm-3">
                                            <label>연락처</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input class="form-control" name="contact" id="contact" type="text" placeholder=".form-control-sm" value="<%= resumeInfo.CONTACT %>">
                                        </div>
                                        <div class="col-sm-3 birthyearDiv">
                                            출생년도
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" name="birthyear" id="birthyear" type="text" placeholder=".form-control-sm" value="<%= resumeInfo.BIRTHYEAR %>">
                                        </div>
                                        <div class="col-sm-3">
                                            <label>성별</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" name="gender" id="gender" type="text" placeholder=".form-control-sm" value="<%= resumeInfo.GENDER %>">
                                        </div>
                                        <div class="col-sm-3">
                                            <label>이메일 </label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input class="form-control" name="email" id="email" type="text" placeholder=".form-control-sm" value="<%= resumeInfo.EMAIL %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row item display-information-form-inline">
                                <label for="HROEMAIL" class="col-sm-2 col-form-label title">주소</label>
                                <div class="col-sm-2 data">
                                    <input type="text" class="form-control width-100 numberonly" name="postCode" id="postCode" readonly value="<%=resumeInfo.POSTCODE %>" /> 
                                </div>
                                <div class="col-sm-2 data">
                                    <button type="button" class="btn btn-secondary" onclick="sample6_execDaumPostcode()">우편번호 찾기</button>
                                </div>
                            </div>                           
                            <div class="form-group row item">                                
                                <div class="offset-sm-2 col-sm-10 data">
                                    <input type="text" class="form-control numberonly" name="address" id="address" readonly value="<%=resumeInfo.ADDRESS %>" />
                                    <input type="text" class="form-control numberonly" name="addressExtra" id="addressExtra" value="<%=resumeInfo.ADDRESSEXTRA %>" />
                                </div>
                            </div>

                            <!-- 학력사항  -->
                            <span class="tr-title">학력 사항</span>
                            <div class="media-body additem-edu">
                                <div class="media-body additem-edu">
                                    <div class="code-edit-small">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>학위</label>
                                            </div>
                                            <div class="col-sm-8"> 
                                                <select class="selectpicker btn btn-primary dropdown-toggle" id="select_pick">
                                                    <option id="eduOption1" value="초등학교 졸업">초등학교 졸업</option>
                                                    <option id="eduOption2" value="중학교 졸업">중학교 졸업</option>
                                                    <option id="eduOption3" value="고등학교 졸업">고등학교 졸업</option>
                                                    <option id="eduOption4" value="대학 이상 졸업">대학 이상 졸업</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>최종학력<span class="pull-right">:</span> </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="EDUCATIONSCHOOL" name="EDUCATIONSCHOOL" type="text" placeholder=".form-control-sm" value="<%= resumeInfo.EDUCATIONSCHOOL %>">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <!-- 희망연봉 및 근무형태 -->
                        <div class="media-body">
                        <span class="tr-title">희망 사항</span>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>희망 연봉</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="salary" name="salary" type="text" placeholder=".form-control-sm" value="<%= resumeInfo.SALARY %>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>희망 근무형태</label>
                            </div>
                            <div class="col-sm-8 hopeWorkingType">
                                <% if (workingTypeList) { workingTypeList.forEach(item => {%>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="workingType" value="<%=item.SEQ %>" id="workingType_<%=item.SEQ %>" >
                                            <label class="form-check-label" for="workingType_<%=item.SEQ %>" id="workingTypeLabel_<%=item.SEQ %>"><%=item.NAME %></label>
                                        </div>
                                <%})} %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>희망 근무 지역</label>
                            </div>
                            <div class="col-sm-8 hopeRegion">
                                <% if (regionList) {regionList.forEach(item => {%>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="workingRegion" value="<%=item.SEQ %>" id="workingRegion_<%=item.SEQ %>" >
                                            <label class="form-check-label" for="workingRegion_<%=item.SEQ %>"><%=item.NAME %></label>
                                        </div>
                                <%}) } %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>희망 직종</label>
                            </div>
                            <div class="col-sm-8 hopeJobKind">
                                <% if (jobKindList) {jobKindList.forEach(item => {%>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="jobKind" value="<%=item.SEQ %>" id="jobKind_<%=item.SEQ %>" >
                                            <label class="form-check-label" for="jobKind_<%=item.SEQ %>"><%=item.NAME %></label>
                                        </div>
                                <%}) } %>
                            </div>
                        </div>
                        <!-- 보유기술 및 자격증 -->
                        <div class="media-body">
                            <span class="tr-title">보유기술 및 자격증</span>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>보유기술</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" id="technical" name="TECHNICAL" type="text" placeholder=".form-control-sm" value="<%= resumeInfo.TECHNICAL %>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>자격증</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" id="license" name="LICENSE" type="text" placeholder=".form-control-sm" value="<%= resumeInfo.LICENSE %>">
                                </div>
                            </div>
                        </div>

                        <!-- 취업 우대사항 -->
                        <div class="media-body">
                            <span class="tr-title">취업 우대사항</span>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>보훈대상</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" id="isWelfare" name="ISWELFARE" type="text" placeholder=".form-control-sm" value="<%= resumeInfo.ISWELFARE %>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>병역</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" id="isMilitaly" name="ISMILITALY" type="text" placeholder=".form-control-sm" value="<%= resumeInfo.ISMILITALY %>">
                                </div>
                            </div>
                        </div>

                        <!-- 증명서류 -->
                        <div class="media-body">
                            <span class="tr-title">4대보험 증명 서류</span>
                            <% if(resumeInfo.CAREERCERTIFICATE != null){ %>
                                증명서 업로드 완료.
                            <% } %>
                            <div class="change-photo">
                                <div class="upload-photo">
                                    <label class="btn btn-primary" for="upload-certificate" >증명서 업로드</label>
                                    <input type="file" id="upload-certificate">
                                </div>
                            </div>
                        </div>

                        <!-- 자기소개 -->
                        <div class="media-body">
                            <span class="tr-title">자기 소개</span>
                            <div>
                                <textarea type="text"  class="form-control content-text content-edit" name="introduce" id="introduce" val="<%= resumeInfo.INTRODUCE %>" ></textarea>
                            </div>
                        </div>
                    
                        <!-- 경력사항 -->
                        <br>
                        <div class="media-body additem-work">
                            <span class="tr-title">경력</span>
                            <% if(listCareer){%>
                                <div>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-primary" id="option1">
                                            <input type="radio" name="carrerSeq"  value="2" autocomplete="off" > 신입
                                        </label>
                                        <label class="btn btn-primary active" id="option2">
                                            <input type="radio" name="carrerSeq" value="3" autocomplete="off" checked> 경력
                                        </label>
                                    </div>
                                </div>
                                <% } else{ %>
                                <div>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-primary active" id="option1">
                                            <input type="radio" name="carrerSeq"  value="2" autocomplete="off" checked> 신입
                                        </label>
                                        <label class="btn btn-primary" id="option2">
                                            <input type="radio" name="carrerSeq" value="3" autocomplete="off" > 경력
                                        </label>
                                    </div>
                                </div>
                                <% } %>
                            <div id="addhistory" class="additem">
                            <table id='careerTable'class="table table-hover" style="background-color: #faf7fa">
                                <button type="button" class="btn btn-primary waves-effect waves-light m-l-10 btn-md pull-right" id="addUser" onclick="createCareer(<%= resumeInfo.SEQ %>)">경력 추가 <i class="fa fa-plus"></i></button>
                                <tr style="background-color: #fff">
                                    <td>근무처</td>
                                    <td>직급/직책</td>
                                    <td>직종</td>
                                    <td>담당업무</td>
                                    <td>근무지역</td>
                                    <td>최종연봉</td>
                                    <td>근무기간</td>
                                    <td>ETC</td>
                                </tr>
                                <% if(listCareer){listCareer.forEach(item => { %>
                                <tr id="career<%= item.SEQ%>">
                                    <td id="company<%= item.SEQ%>"><%= item.COMPANY %></td>
                                    <td id="position<%= item.SEQ%>"><%= item.POSITION %></td>
                                    <td id="jobtype<%= item.SEQ%>"><%= item.JOBTYPE%></td>
                                    <td id="charge<%= item.SEQ%>"><%= item.CHARGE %></td>
                                    <td id="workregion<%= item.SEQ%>"><%= item.WORKREGION %></td>
                                    <td id="salaly<%= item.SEQ%>"><%= item.SALARY %></td>
                                    <td id="worktime<%= item.SEQ%>"><%=moment(item.WORKSTART).format('YYYY.MM.DD') %>~ <%=(item.WORKEND) ? moment(item.WORKEND).format('YYYY.MM.DD') : '재직 중' %></td>
                                    <td class="actions">
                                        <a class="on-default edit-row" onclick="javascript:editCareer(<%=item.SEQ %>);"><i class="fa fa-pencil"></i></a>
                                        <a class="on-default remove-row" onclick="javascript:removeCareer(<%=item.SEQ %>);"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                <% })} %>
                            </table>
                        </div>
                        <button type="button" class="btn btn-lg btn-primary btn-block" id="resume-update-btn">정보 변경</button>
                </div>
                </div>
            </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.tr-profile -->
</div>
<!-- 경력 추가 모달창 -->
<input type="hidden" id="createType" />
<div id="careerCreateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="careerCreateModal" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="careerCreateModal-Title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row" style="display: none;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="create-seq" class="control-label">seq</label>
                            <input type="text" class="form-control" id="create-seq" placeholder="seq" value="<%= resumeInfo.SEQ %>"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="create-company" class="control-label">마트명</label>
                            <input type="text" class="form-control" id="create-company" placeholder="마트 이름" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="create-workstart" class="control-label">시작일</label>
                            <input type="date" class="form-control" id="create-workstart" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="create-workend" class="control-label">종료일</label>
                            <input type="date" class="form-control" id="create-workend" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="create-career" class="control-label">경력</label>
                            <input type="text" class="form-control" id="create-career" placeholder="경력" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="create-position" class="control-label">직급</label>
                            <input type="text" class="form-control" id="create-position" placeholder="직무" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="create-jobType" class="control-label">직종</label>
                            <input type="text" class="form-control" id="create-jobType" placeholder="직종" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="create-charge" class="control-label">담당업무</label>
                            <input type="text" class="form-control" id="create-charge" placeholder="담당업무" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="create-workregion" class="control-label">지역</label>
                            <input type="text" class="form-control" id="create-workregion" placeholder="지역" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="create-salaly" class="control-label">최종연봉</label>
                            <input type="text" class="form-control" id="create-salaly" placeholder="최종연봉" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" id="careerCreateCancelBtn" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" id="careerCreateSaveBtn">저장</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- 경력 수정 모달창 -->
<input type="hidden" id="createType" />
<div id="careerEditModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="careerEditModal" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="careerEditModal-Title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row" style="display: none;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="edit-resumeseq" class="control-label"></label>
                            <input type="text" class="form-control" id="edit-resumeseq" placeholder="seq" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="edit-company" class="control-label">마트명</label>
                            <input type="text" class="form-control" id="edit-company" placeholder="마트 이름" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit-workstart" class="control-label">시작일</label>
                            <input type="date" class="form-control" id="edit-workstart" value="2020-01-01"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit-workend" class="control-label">종료일</label>
                            <input type="date" class="form-control" id="edit-workend" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit-career" class="control-label">몇년차</label>
                            <input type="text" class="form-control" id="edit-career" placeholder="career" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit-position" class="control-label">직급</label>
                            <input type="text" class="form-control" id="edit-position" placeholder="직무" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit-jobType" class="control-label">직종</label>
                            <input type="text" class="form-control" id="edit-jobType" placeholder="직종" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit-charge" class="control-label">담당업무</label>
                            <input type="text" class="form-control" id="edit-charge" placeholder="담당업무" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit-workregion" class="control-label">지역</label>
                            <input type="text" class="form-control" id="edit-workregion" placeholder="지역" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edit-salaly" class="control-label">최종연봉</label>
                            <input type="text" class="form-control" id="edit-salaly" placeholder="최종연봉" />
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" id="careerRemoveCancelBtn" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" id="careerEditSaveBtn" onclick="careerEditSaveBtn()">저장</button>
                </div>
            </div>
            
        </div>
    </div>
</div>

<%- contentFor('script') %>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    $(document).ready(function(){
        $('#introduce').summernote({
            tabsize: 2,
            height: 300
        });
        $('#introduce').summernote('code','<%= resumeInfo.INTRODUCE %>');
        // 이력서 교육 확인해서 초기 설정.
        var educationName = '<%= resumeInfo.EDUCATION %>';
        $('.selectpicker').val(educationName);
        // 정규직, 계약직, 일용직 확인해서 초기값 설정
        let workingType = [<%= resumeInfo.WORKINGTYPE_SEQS %>];
        workingType.forEach(item => {
            $('input:checkbox[id="workingType_' + item + '"]').prop("checked", true);
        });

        let jobKinds = [<%=resumeInfo.JOBKIND_SEQ %>];
        jobKinds.forEach(item => {
            $('input:checkbox[id="jobKind_' + item + '"]').prop("checked", true);
        });

        let regions = [<%=resumeInfo.WORKREGION_SEQ %>];
        regions.forEach(item => {
            $('input:checkbox[id="workingRegion_' + item + '"]').prop("checked", true);
        });

        // 변경되는 시점에 함수 실행. (프로필 사진이나 업로드파일 업로드 시.)
        $("#upload-photo").change(uploadImage)
        $("#upload-certificate").change(uploadCertificate)
        
        // 경력 생성 오케이 버튼
        $("#careerCreateSaveBtn").click(function(){
            createCareerOkay()
        })

        // 신입 / 경력 버튼 클릭시 경력 레이아웃 보이게 or 숨기게
        $('#option1').click(function(){
            $("#addhistory").css('display','none');
        })
        $('#option2').click(function(){
            $("#addhistory").css('display','block');
        })

        // 이력서 수정완료 버튼 클릭
        let userseq = '<%= user.Seq %>'
        $("#resume-update-btn").click(function(){
            let workingTypeSeqs = getWorkingTypes()
            let workingTypeNames = getWorkingTypeName()
            let region = getRegions()
            let jobkind = getJobKinds()
            let careerSeq = $('input[name="carrerSeq"]:checked').val()
            let resumeSeq = '<%= resumeInfo.SEQ %>';
            doPostCallSync("/mypage/user/updateJobKind", {
                seq: resumeSeq,
                jobKinds: jobkind
            })
            .success(function(json){
                
            })
            .fail(function(sender, message, details){
                alert("희망직종 업데이트 오류 발생.." + message);
                return false;
            });

            doPostCallSync("/mypage/user/updateWorkingRegion", {
                seq: resumeSeq,
                regions: region
            })
            .success(function(json){
                
            })
            .fail(function(sender, message, details){
                alert("희망근무지역 업데이트 오류 발생.." + message);
                return false;
            });

            // 이력서 수정할때 벨리데이션
            // 수정 완료 클릭시 > api로 호출하는 front 로직 수행(body) >  POST로 (body) api로 전송하여 이력서 seq로 업데이트
            doPostCallSync("/mypage/user/edit", {
                seq: userseq,
                subject: $("#subject").val(),
                name: $("#name").val(),
                contact: $("#contact").val(),
                birthyear : $("#birthyear").val(),
                email: $("#email").val(),
                gender: $("#gender").val(),
                postCode: $("#postCode").val(),
                address: $("#address").val(),
                addressExtra: $("#addressExtra").val(),
                education: $(".selectpicker").val(),
                educcationSchool: $("#EDUCATIONSCHOOL").val(),
                careerSeq: careerSeq,
                technical: $("#technical").val(),
                license: $("#license").val(),
                isWelfare: $("#isWelfare").val(),
                isMilitaly: $("#isMilitaly").val(),
                introduce: $("#introduce").val(),
                workingTypeSeqs: workingTypeSeqs,
                workingTypeNames: workingTypeNames,
                region: region,
                jobkind: jobkind,
                salary: $("#salary").val()
            })
            .success(function(json){
                if (json.result == "success"){
                    location.reload();
                }
            })
            .fail(function(sender, message, details){
                alert("이력서 업데이트 오류 발생.." + message);
                return false;
            });
        })
    });
    let getWorkingTypes = function () {
        let checkWorkingType = "";
        $('input:checkbox[name="workingType"]').each(function() {
            if(this.checked){
                checkWorkingType += this.value + ", "; 
            }
        });

        if (checkWorkingType.length > 0) checkWorkingType = checkWorkingType.substring(0, checkWorkingType.length - 2);
        return checkWorkingType;
    }

    let getWorkingTypeName = function () {
        let checkWorkingTypeName = "";
        $('input:checkbox[name="workingType"]').each(function() {
            if(this.checked){
                checkWorkingTypeName += $("#workingTypeLabel_"+ this.value).html() + ", ";
            }
        });
        
        if (checkWorkingTypeName.length > 0) checkWorkingTypeName = checkWorkingTypeName.substring(0, checkWorkingTypeName.length - 2);
        return checkWorkingTypeName;
    } 
    
    let getRegions = function () {
    let checkRegion = "";
    $('input:checkbox[name="workingRegion"]').each(function() {
        if(this.checked){
            checkRegion += this.value + ", "; 
        }
    });
    if (checkRegion.length > 0) checkRegion = checkRegion.substring(0, checkRegion.length - 2);
    return checkRegion;
    }

    let getJobKinds = function () {
        let checkJobKind = "";
        $('input:checkbox[name="jobKind"]').each(function() {
            if(this.checked){
                checkJobKind += this.value + ", "; 
            }
        });
        if (checkJobKind.length > 0) checkJobKind = checkJobKind.substring(0, checkJobKind.length - 2);
        return checkJobKind;
    }
    // 경력 수정 버튼 클릭
    function editCareer(resumeSeq){
        $('#careerEditModal-Title').html("경력 수정");
        $("#createType").val("edit");

        doGetCallSync("/mypage/user/getCareer?seq=" + resumeSeq)
            .success(function(json){
                if (json.result == "success") {
                    $("#edit-resumeseq").val(resumeSeq);
                    $("#edit-company").val(json.data.COMPANY);
                    $("#edit-workstart").val(json.data.WORKSTART.substring(0, 10));
                    $("#edit-workend").val(json.data.WORKEND.substring(0, 10));
                    $("#edit-career").val(json.data.CAREER);
                    $("#edit-position").val(json.data.POSITION);
                    $("#edit-jobType").val(json.data.JOBTYPE);
                    $("#edit-workregion").val(json.data.WORKREGION);
                    $("#edit-charge").val(json.data.CHARGE);
                    $("#edit-salaly").val(json.data.SALARY);
                    $('#careerEditModal').modal();
                }
            })
            .fail(function(sender, message, details){
                alert("경력정보를 가져오는 도중에 오류가 발생했습니다.");
                return false;
            });
        
        
    }

    // 경력 수정 확인 버튼 클릭
    function careerEditSaveBtn(){
        if (confirm("경력을 수정하시겠습니까? ")){
                doPostCallSync("/mypage/user/updateCareer", {
                    resumeSeq: $("#edit-resumeseq").val(),
                    company: $("#edit-company").val(),
                    workStart : $("#edit-workstart").val(),
                    workEnd : $("#edit-workend").val(),
                    career : $("#edit-career").val(),
                    position : $("#edit-position").val(),
                    jobType : $("#edit-jobType").val(),
                    workRegion : $("#edit-workregion").val(),
                    charge : $("#edit-charge").val(),
                    salaly : $("#edit-salaly").val()
                    })
                    .success(function(json){
                        var editNumber = $("#edit-resumeseq").val();
                        $("#careerRemoveCancelBtn").trigger('click');
                        $("#company"+editNumber).text($("#edit-company").val());
                        $("#position"+editNumber).text($("#edit-position").val());
                        $("#jobType"+editNumber).text($("#edit-jobType").val());
                        $("#charge"+editNumber).text($("#edit-charge").val());
                        $("#salaly"+editNumber).text($("#edit-salaly").val());
                        $("#worktime"+editNumber).text($("#edit-workstart").val()+'~'+("#edit-workend").val());
                    })
                    .fail(function(sender, message, details){
                        alert("유저 수정 오류 발생..");
                        return false;
                    });
            }
    }

    // 경력추가 버튼 클릭
    function createCareer(userSeq){
        $('#careerCreateModal-Title').html("경력 생성");
        $("#createType").val("edit");
        $('#careerCreateModal').modal();
    }

    // 경력 추가 확인 버튼 클릭
    function createCareerOkay(){
            doPostCallSync("/mypage/user/createCareer", {
                resumeSeq: $("#create-seq").val(),
                company: $("#create-company").val(),
                workStart : $("#create-workstart").val(),
                workEnd : $("#create-workend").val(),
                career : $("#create-career").val(),
                position : $("#create-position").val(),
                jobType : $("#create-jobType").val(),
                workRegion : $("#create-workregion").val(),
                charge : $("#create-charge").val(),
                salaly : $("#create-salaly").val()
                })
                .success(function(json){
                    if (json.result == "success"){
                        $("#careerCreateCancelBtn").trigger('click');
                        var str = ''
                        str += `<tr id="career${json.data.data}"> `;
                        str += `<td id="company${json.data.data}">${$("#create-company").val()}</td>`;
                        str += `<td id="position${json.data.data}">${$("#create-position").val()}</td>`;
                        str += `<td id="jobtype${json.data.data}">${$("#create-jobType").val()}</td>`;
                        str += `<td id="charge${json.data.data}">${$("#create-charge").val()}</td>`;
                        str += `<td id="workregion${json.data.data}">${$("#create-workregion").val()}</td>`;
                        str += `<td id="salaly${json.data.data}">${$("#create-salaly").val()}</td>`;
                        str += `<td id="worktime${json.data.data}">${$("#create-workstart").val() }~${$("#create-workend").val()}</td>`;
                        str += `<td class="actions">`;
                        str += `<a class="on-default edit-row" onclick="javascript:editCareer(${json.data.data});"><i class="fa fa-pencil"></i></a>`;
                        str += `<a class="on-default remove-row" onclick="javascript:removeCareer(${json.data.data});"><i class="fa fa-trash-o"></i></a>`;
                        str += `</td>`; 
                        $('#careerTable').append(str);
                    }
                })
                .fail(function(sender, message, details){
                    alert("경력 생성 오류 발생.");
                    return false;
                });
    }

    // 경력 삭제
    function removeCareer(resumeSeq){
        if (confirm("경력을 삭제하시겠습니까? ")){
                doPostCallSync("/mypage/user/removeCareer", {
                    resumeSeq: resumeSeq
                    })
                    .success(function(json){
                        if (json.result == "success"){
                            alert("경력 삭제 완료.")
                            let removeTr = $(`#career${resumeSeq}`);
                            removeTr.remove();
                        }
                    })
                    .fail(function(sender, message, details){
                        alert("유저 삭제 오류 발생..");
                        return false;
                    });
            }
    }

    // 이력서수정 >> 이미지 업로드 
    function uploadImage(){
        var resumeseq = <%= resumeInfo.SEQ %>
        var resumeImage = null;
        var titleImage = null;
        // 파일이 있으면 먼저 업로드한다 
        if ($("#upload-photo").val() != "") {
            var formData = new FormData();
            formData.append("location", 'resume');
            formData.append("uploadFile", $('#upload-photo')[0].files[0]);
            $.ajax({
                url: 'http://localhost:3000' + '/api/files/uploadSingle',  
                type: 'POST',
                dataType: "json",
                data: formData,
                async: false,
                success:function(json){
                    // 업로드가 성공했으면 정보를 업데이트
                    if (json.result == "success") {
                        resumeImage = json.data.filename;
                    doPostCallSync("/mypage/user/updateimage", {
                        SEQ: resumeseq,
                        location: 'resume',
                        RESUMEFILE: resumeImage
                    })
                    .success(function(json){
                        if (json.result == "success") {
                            console.log(JSON.stringify(json))
                            // location.reload();
                            $("#profile-photo").attr('src',`http://localhost:3000/api/files/get/+${json.data}`)
                            $("#profile-main").attr('src',`http://localhost:3000/api/files/get/+${json.data}`)
                        }
                    })
                    .fail(function(sender, message, details){
                        alert("사용자 사진을 변경하는 도중에 오류가 발생했습니다.");
                    });                         
                }
                },
                cache: false,
                contentType: false,
                processData: false
            }); 
        }
    }
    
    // 4대보험 증명 서류
    function uploadCertificate(){
        var resumeseq = <%= resumeInfo.SEQ %>
        var certificate = null;
        var titleImage = null;
        // 파일이 있으면 먼저 업로드한다 
        if ($("#upload-certificate").val() != "") {
            var formData = new FormData();
            formData.append("location", 'certificate');
            formData.append("uploadFile", $('#upload-certificate')[0].files[0]);
            $.ajax({
                url: 'http://localhost:3000/api/files/uploadSingle',  
                type: 'POST',
                dataType: "json",
                data: formData,
                async: false,
                success:function(json){
                    console.log(json)
                    if (json.result == "success") {
                        certificate = json.data.filename;
                    doPostCallSync("/mypage/user/updatecertificate", {
                        SEQ: resumeseq,
                        location: 'certificate',
                        RESUMEFILE: certificate
                    })
                    .success(function(json){
                        if (json.result == "success"){
                            alert("업로드 완료.")
                        }
                    })
                    .fail(function(sender, message, details){
                        alert("증명서를 업로드 하는 도중에 오류가 발생했습니다.");
                    });
                }
                },
                cache: false,
                contentType: false,
                processData: false
            }); 
        }
    }
    
    // 주소 API 적용
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postCode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("addressExtra").focus();
            }
        }).open();
    }
</script>