<%- contentFor('style') %>

<%- contentFor('content') %>
<div class="tr-profile section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="tr-sidebar">
                    <ul class="nav nav-tabs profile-tabs section" role="tablist">
                        <li role="presentation"><a href="/mypage/user" ><i class="fa fa-life-ring" aria-hidden="true"></i>내 정보</a></li>
                        <li role="presentation"><a class="active" href="/mypage/user/resume" ><span><i class="fa fa-user-o" aria-hidden="true"></i></span> 내 이력서</a></li>
                        <li role="presentation"><a href="/mypage/user/edit" ><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> 이력서 수정</a></li>
                        <li role="presentation"><a href="/mypage/user/bookmark" ><span><i class="fa fa-bookmark-o" aria-hidden="true"></i></span> 북마크</a></li>
                        <li role="presentation"><a href="/mypage/user/support" ><span><i class="fa fa-clone" aria-hidden="true"></i></span> 지원 현황</a></li>
                        <li role="presentation"><a href="/mypage/user/remove" ><span><i class="fa fa-remove" aria-hidden="true"></i></span> 계정 삭제</a></li>
                    </ul>	
                </div>
            </div>
            
            <div class="col-md-8 col-lg-9">
                <div style="display: none;">
                    <input id="seqseq" value="<% user %>)" name="user-seq">
                </div>
                <div role="tabpanel" class="tab-pane section">
                    <ul class="tr-list account-details">
                        <li class="career-objective media">
                            <div class="media-body">
                                <p class="tr-title">이력서</p>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="pull-left">제목</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span name="subject"><%= get.SUBJECT %></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="career-objective media">
                            <div class="media-body">
                                <p class="tr-title">개인정보</p>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="pull-left">이름</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span name="name"><%= get.NAME %></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="pull-left">연락처</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span name="contact"><%= get.CONTACT %></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="pull-left">이메일</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span name="email"><%= get.EMAIL %></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="pull-left">성별</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span name="gender"><%= get.GENDER %></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>주소</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span ></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                        <li class="education-background code-edit-small">
                            <div class="media-body additem-edu">
                                <div class="tr-title">학력 사항</div>
                                <div class="media-body additem-edu">
                                    <div class="code-edit-small">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>학위</label>
                                            </div>
                                            <div class="col-sm-8">    
                                                <span  name="gender"><%= get.EDUCATION %></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>최종학력</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span name="EDUCATIONSCHOOL"><%= get.EDUCATIONSCHOOL %></span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.additem -->
                        </li>
                        <!-- /.education-background -->
                        <li class="qualification code-edit-small">
                            <div class="media-body">
                            <div class="tr-title">보유기술 및 자격증</div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>보유기술</label>
                                </div>
                                <div class="col-sm-8">
                                    <span name="TECHNICAL"><%= get.TECHNICAL %></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>자격증 </label>
                                </div>
                                <div class="col-sm-8">
                                    <span name="LICENSE"><%= get.LICENSE %></span>
                                </div>
                            </div>
                        </div>
                        </li>
                        <!-- /.qualification -->
                        <li class="findjob code-edit-small">
                            <div class="media-body">
                            <div class="tr-title">취업 우대사항</div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>보훈대상</label>
                                </div>
                                <div class="col-sm-8">
                                    <span name="ISWELFARE"><%= get.ISWELFARE %></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>병역</label>
                                </div>
                                <div class="col-sm-8">
                                    <span name="ISMILITALY"><%= get.ISMILITALY %></span>
                                </div>
                            </div>
                        </div>
                        </li>
                        <li class="career-objective">
                            <div class="media-body">
                                <label class="tr-title">경력 증명 서류</label>
                                <span ><%= get.CAREERCERTIFICATE %></span>
                            </div>
                        </li>
                        <li class="career-objective media">
                            <div class="media-body">
                                <label class="tr-title">소개</label>
                                <span  name=""><%= get.INTRODUCE %></span>
                            </div>
                        </li>
                        
                        <li class="work-history">
                            <div class="media-body additem-work">
                                <label class="tr-title">경력</label>
                                <div class="code-edit-small">
                                    <label>직업</label>
                                    <div ><span></span></div>
                                    <label>마트 이름</label>
                                    <div ><span></span></div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <label>시작</label>
                                            <div class="calendar">
                                                <input type="date" class="form-control" value="2015-01-15" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <label>끝</label>
                                            <div class="calendar">
                                                <input type="date" class="form-control" value="2016-01-13" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label for="logged-1"><div type="checkbox" name="logged-1" id="logged-1" />재직중입니다.</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- /.work-history -->
                    </ul>
                </div>
                <!-- /.tab-pane -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.tr-profile -->	

<%- contentFor('script') %>