<%- contentFor('style') %>

<%- contentFor('header') %>
<header class="tr-header">
    <img src="images/ico/logo1.png" style="display: none;">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
                </button>
                <a class="navbar-brand" href="/"><img class="img-fluid" src="assets/images/martlogo.png" style="margin-bottom: 30px" alt="Logo" /></a>
            </div>
            <!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav">
                    <li class="tr-dropdown active"><a href="user">홈</a></li>
                    <li><a href="locationlist">지역별</a></li>
                    <li><a href="joblist">직종별</a></li>
                    <!-- <li class="tr-dropdown">
                        <a href="#">기타</a>
                        <ul class="tr-dropdown-menu tr-list fadeInUp" role="menu">
                            <li>
                                <a href="employee-profile.html">구직자 프로필</a>
                            </li>
                            <li>
                                <a href="employer-profile.html">고용주 프로필</a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>

            <div class="navbar-right">
                <ul class="sign-in tr-list">
                    <li><i class="fa fa-user"></i></li>
                    <li><a href="logout">로그아웃</a></li>
                    <li><a href="mypage">마이 페이지</a></li>
                </ul>
            </div>
            <!-- /.nav-right -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.navbar -->
</header>
<!-- /.tr-header -->

<%- contentFor('title') %>

<%- contentFor('content') %>

<div class="tr-account">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="text-align: center; margin-top: 1%;">공지 사항</h1>
      <hr />
      <a href="/write"><button type="button" class="btn btn-outline-primary" style="margin-left: 10%; margin-bottom: 10px;">추가</button></a>
    <table class="table table-bordered" style="width: 80%; height: 80%; margin:0 auto;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">수정일</th>
            <th scope="col" style="width: 15%;"></th>
          </tr>
          
      </table>
    </div>
  </div>
</div>
</div>

<%- contentFor('footer') %>
      <div class="footer">
          <div class="footer-top" style="padding: 40px 0">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-3 center-block">
                          <img src="assets/images/others/ft_logo.png" style="padding-top: 15%" />
                      </div>
                      <!-- /.col-sm-3 -->
                      <div class="col-sm-9">
                          <div class="footer-widget">
                              <ul class="tr-list" style="font-size: 12px; padding-left: 5%">
                                  <li>개인정보처리방침 협회소개 서비스이용약관</li>
                                  <li>사단법인 한국마트협회 | 서울시 강서구 발산로40 식품종합상가 3층(외발산동, 강서농산물시장)</li>
                                  <li>TEL: 02-305-6100, 6110 | FAX: 02-2640-6400 | email : koreamart6100@gmail.com | 회장 : 김성민</li>
                                  <li>COPYRIGHT by 사단법인 한국마트협회. ALL RIGHTS RESERVED.</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- /.row -->
              </div>
              <!-- /.container -->
          </div>
          <!-- /.footer-top -->
      </div>
      <!-- /.footer -->
      
<%- contentFor('script') %>

