<%- contentFor('title') %>

<%- contentFor('style') %>

<%- contentFor('content') %>
    <div class="tr-breadcrumb bg-image section-before"><!-- 상단 배너 예시 -->
        <div class="container">
            <div class="breadcrumb-info text-center">
                <div class="breadcrumb-logo">
                </div>
                <div class="page-title">
                    <h1></h1>
                </div>		
                <ul class="job-meta tr-list list-inline">
                </ul>
                <ul class="breadcrumb-social social-icon-bg  tr-list">
                </ul>			
            </div>
        </div><!-- /.container -->
    </div><!-- /.tr-breadcrumb -->



    <div class="tr-profile section-padding" >
        <div class="container">
            <div class="all-view" style="padding:15px 0;">
                <div class="container">
                    <div class="section-title">
                        <h1>공지사항</h1>
                    </div><!-- /.section-title -->
                    <div class="section">
                        <% if(list){list.forEach(item => {%>
                        <ul class="tr-list resume-info" style="padding-bottom: 35px !important;">
                            <li class="career-objective media" >
                                <div class="icon">
                                    <i class="fa fa-black-tie" aria-hidden="true"></i>
                                </div>  <!-- /.icon -->
                                
                                <div class="media-body">
                                    <span class="tr-title" style="margin-bottom: 35px !important;"><%=item.SUBJECT %></span>
                                    <p><%- item.CONTENT %></p> <br>
                                    <p>작성일 : <%= moment(item.CREATED).format('YYYY-MM-DD HH:mm:ss') %></p>
                                </div><!-- /.media-body -->
                            </li><!-- /.career-objective -->                                                   
                        </ul>
                        <% })} %>					
                    </div><!-- /.section -->
                </div><!-- /.container -->
            </div><!-- /.all-view -->


            <!-- 페이지 네이션 -->
            <div class="panel">
                <div class="row" style="width: 100%;">
                    <nav aria-label="Page navigation" style="text-align: center; margin: 0 auto;">
                        <ul class="pagination justify-content-center" id="notice-page"></ul>
                    </nav>
                </div><!--row-->
            </div><!-- /.panel -->
        
        </div><!-- /.container -->
    </div><!-- /.tr-profile section-padding -->


<%- contentFor('footer') %>

      
<%- contentFor('script') %>
<script>
    var totalCount = <%= totalCount %>; 
    var page = <%= page %>;
    var rowCount = <%= rowCount %>;   
    
    $(document).ready(function() {
        if (totalCount <= rowCount) {
            $('#notice-page').hide();
        } else {
            createPagination('notice-page', totalCount, rowCount, page, 5, `/notice/list?`);
        }

        
    });
    
</script>

