<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Theme Region" />
        <meta name="description" content="" />
        <meta property="og:title" content="마트협회 구인/구직">
        <meta property="og:url" content="https://ydh-56.github.io/mart-site/">
        <!-- <meta property="og:image" content="images/ico/logo1.png"> -->
        <meta property="og:image" content="http://xn--3e0b97uhptgnc7zadv.com/img/logo.png">
        <meta property="og:image:width" content="400" />
        <meta property="og:image:height" content="300" />
        <meta property="og:site_name" content="마트협회 구인/구직">
        <meta property="og:description" content="마트협회 구인구직 사이트 데모">
    <title><%= title %></title>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/jquery-te.css" />
    <link rel="stylesheet" href="assets/css/slick.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />


    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <!-- <%-style %> -->
    <!-- icons -->
    <link rel="icon" href="images/ico/favicon.ico" />
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/ico/apple-touch-icon-57-precomposed.png" />
    
  </head>
  <body>
    <%- header%>
    <%- title %>
    <%- content %>
    <div class="footer">
      <div class="footer-top" style="padding: 40px 0">
          <div class="container">
              <div class="row">
                  <div class="col-sm-3 center-block">
                      <img src="assets/images/others/ft_logo.png" style="padding-top: 15%" />
                  </div>
                  <!-- /.col-sm-3 -->
                  <div class="col-sm-9">
                      <div class="footer-widget">
                          <ul class="tr-list" style="font-size: 12px; padding-left: 5%">
                              <li>개인정보처리방침 협회소개 서비스이용약관</li>
                              <li>사단법인 한국마트협회 | 서울시 강서구 발산로40 식품종합상가 3층(외발산동, 강서농산물시장)</li>
                              <li>TEL: 02-305-6100, 6110 | FAX: 02-2640-6400 | email : koreamart6100@gmail.com | 회장 : 김성민</li>
                              <li>COPYRIGHT by 사단법인 한국마트협회. ALL RIGHTS RESERVED.</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <!-- /.row -->
          </div>
          <!-- /.container -->
      </div>
      <!-- /.footer-top -->
  </div>
  <!-- /.footer -->

  <!-- <%-script %> -->

    <!-- JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/inview.min.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery-te.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="assets/js/gmaps.min.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
  
</html>
